Pillow>=10.1.0
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers>=4.44.2
sentencepiece==0.1.99
safetensors>=0.5.3
runpod
pymupdf
huggingface_hub
numpy>=1.26.4
azure-storage-blob
tensorboardX
flash_attn>=2.5.0
accelerate>=1.0.0
pydantic==1.10.12
timm>=0.9.10
einops>=0.7.0