Pillow>=10.1.0
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
transformers>=4.44.2
sentencepiece==0.1.99
safetensors>=0.5.3
runpod
pymupdf
huggingface_hub
numpy>=1.26.4
accelerate>=1.0.0
timm>=0.9.10
einops>=0.7.0
pydantic>=2.0,<3.0